<section class="bannerlogin">
    <div class="form-container">
        <h1>Login form</h1>
           <form action="/admin/adminLogin" method="POST">
    {{#if loginErr}}
                <p class="error fadeIn second" style="color: orangered;">Invalid Username or Password</p>
    {{/if}}
      <input type="text" id="login" class="fadeIn second" name="Email" placeholder="Admin email">
      <input type="text" id="password" class="fadeIn third" name="Password" placeholder="Password" autocomplete="off">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

        <div class="link">
            <a href="">Forgot password ?</a>
        </div>
        <div class="sign-up">
            <p>Not a member?<a href="">Signup now</a></p>
        </div>


    </div>
</section>