      <div class="blue_bg">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>About</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section -->
      <div class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <div class="about_text">
                     <h3>ONLINE STORE MANAGEMEENT SYSTEM</h3>
                     <p>Our aim is to design and create a Data Management system for the College stationary store Management.it increases the customer retention and simplifies servicing equipment and staff management in an efficient way. This software for the Stationery has a very user friendly interface . By using this  system the admin can manage all kinds of data regarding the collection of items available in the store and the details  and accounts of the students visiting the College store .this software will be helpful to the store administrator as well as the customer.</p>
                    
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="about_img">
                     <figure><img src="images/about-jdt.jpg" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about section -->

       <!--  footer -->
       <footer>
         <div class="footer bg-dark">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <div class="inror_box">
                        <h3>Courses </h3>
                        <div class="d-flex flex-column justify-content-start">
                           <a class="text-white mb-2" href="#">Computer Hardware Engineering</a>
                           <a class="text-white mb-2" href="#">Computer Engineering</a>
                           <a class="text-white mb-2" href="#">civil Engineering</a>
                           <a class="text-white mb-2" href="#">Automobile Engineering</a>
                           <a class="text-white mb-2" href="#">Architecture Engineering</a>
                           <a class="text-white mb-2" href="#">Electronics Engineering</a>
                           <a class="text-white mb-2" href="#">Electrical & Electronics Engineering</a>
                           <a class="text-white mb-2" href="#">Mechanical Engineering</a>
                       </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="inror_box">
                        <h3>Facilities</h3>
                        <div class="d-flex flex-column justify-content-start">
                           <a class="text-white mb-2" href="#">Library</a>
                           <a class="text-white mb-2" href="#">Sports</a>
                           <a class="text-white mb-2" href="#">Cafeteria</a>
                           <a class="text-white mb-2" href="#">IT infrastructure</a>
                           <a class="text-white mb-2" href="#">Laboratories</a>
                          
                       </div>
                     </div>
                  </div>
              
                  <div class="col-md-3">
                     <div class="inror_box">
                        <h3>Useful Links </h3>
                        <div class="d-flex flex-column justify-content-start">
                           <a class="text-white mb-2" href="#">Admission</a>
                           <a class="text-white mb-2" href="#"> Download</a>
                           <a class="text-white mb-2" href="#">Grievance</a>
                           <a class="text-white mb-2" href="#">Alumni</a>
                           <a class="text-white mb-2" href="#">Notice Board</a>
                          
                       </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© JDT Islam Polytechnic College. All Right Reserved.
                           Powered by<a href="https://Corehub.in">  Corehub Solutions</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->