<!-- end header inner -->
{{#if user}}
<div class="blue_bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Featured Products</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- project section -->
<div id="project" class="project">
   <div class="container-fluid">


      <div class="row">
         <div class="product_main">

            {{#each products}}
            <div class="card m-2" style="width: 18rem;">
               <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap"
                  style="width:10rem;height:10rem;">
               <div class="card-body">
                  <h5 class="card-title">{{this.Category}}</h5>
                  <p class="cart-text">Rs.{{this.Price}}</p>

                  <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>

               </div>
            </div>

            {{/each}}

            {{/if}}